{% set path = request.url.path %}
<nav class="navbar">
    <div class="container">
        <div class="navbar-flex">
            <a class="header-link" href="/">
                <div class="navbar-head">
                    <div class="nav-logo">
                        <img src="/static/simply_transport_logo.svg"
                             alt="SimplyTransport"
                             width="32"
                             height="32">
                    </div>
                    <span>{{ request.app.openapi_config.title }}</span>
                    <span class="version-tag">{{ request.app.openapi_config.version }}</span>
                </div>
            </a>
            <div class="navbar-item">
                <a class="nav-button{% if path == '/stops' or path.startswith('/realtime/stop') or path.startswith('/search/stops') %} nav-button-active{% endif %}"
                   href="/stops">
                    <div class="nav-search-logo">
                        <img src="/static/search_icon.svg" alt="" width="100%" height="100%">
                    </div>
                    <span>Stops</span>
                </a>
            </div>
            <div class="navbar-item">
                <a class="nav-button{% if path == '/routes' or path.startswith('/realtime/route') or path.startswith('/search/routes') %} nav-button-active{% endif %}"
                   href="/routes">
                    <div class="nav-search-logo">
                        <img src="/static/search_icon.svg" alt="" width="100%" height="100%">
                    </div>
                    <span>Routes</span>
                </a>
            </div>
            <div class="navbar-segment">
                <div class="navbar-item nav-dropdown">
                    <a class="nav-link{% if path.startswith('/maps') %} nav-link-active{% endif %}"
                       href="/maps">Maps</a>
                </div>
                <div class="navbar-item nav-dropdown">
                    <a class="nav-link{% if path.startswith('/stats') %} nav-link-active{% endif %}"
                       href="/stats">Stats</a>
                </div>
                <div class="navbar-item nav-dropdown">
                    <a class="nav-link{% if path.startswith('/apidocs') %} nav-link-active{% endif %}"
                       href="/apidocs">API docs</a>
                </div>
                <div class="navbar-item nav-dropdown">
                    <a class="nav-link{% if path.startswith('/events') %} nav-link-active{% endif %}"
                       href="/events">Events</a>
                </div>
                <div class="navbar-item nav-dropdown">
                    <a class="nav-link{% if path.startswith('/delays') %} nav-link-active{% endif %}"
                       href="/delays-explained">Delays</a>
                </div>
                <div class="navbar-item nav-dropdown">
                    <a class="nav-link{% if path == '/about' %} nav-link-active{% endif %}"
                       href="/about">About</a>
                </div>
            </div>
        </div>
        <button type="button"
                class="nav-dropdown-logo"
                id="nav-dropdown-button"
                aria-label="More pages"
                aria-expanded="false"
                onclick="toggleDropdown()">
            <img src="/static/down-arrow.svg" alt="" width="100%" height="100%">
        </button>
    </div>
</nav>
<script>
    function toggleDropdown() {
        const dropdownContent = document.getElementsByClassName('nav-dropdown');
        const dropdownButton = document.getElementById('nav-dropdown-button');
        for (let i = 0; i < dropdownContent.length; i++) {
            dropdownContent[i].classList.toggle('show');
        }
        dropdownButton.classList.toggle('rotate');
        dropdownButton.setAttribute('aria-expanded', dropdownButton.classList.contains('rotate'));
    }
</script>
