venv
.venv
__pycache__
.env
.vscode
.cursor/
.pytest_cache
hidden.txt
/gtfs_data/TFI/*.txt
/gtfs_data/TFI/*.geojson
/gtfs_data/TFI/gtfs_checker/
SimplyTransport/templates/maps/static/*/*.html
*.bak
.coverage