.events-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.single-event {
	border-radius: 12px;
	padding: 12px;
	overflow-x: auto;
	margin: 0;
	background-color: var(--bg-color-bump);
	letter-spacing: 0.02rem;
	color: var(--font-color-secondary);
	line-height: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.event-code {
	margin: 0;
}

@media screen and (max-width: 750px) {
	.single-event {
		font-size: 0.9rem;
	}
}
