<h3 class="h3-table">
    Stop Features
    <button class="toggle-visibility-button pagination-button">▼</button>
</h3>
<div class="flex-gap-bigger collapsible" style="max-height:0;">
    <div class="flex-gap-bigger">
        {% if stop.stop_feature %}
            <div class="flex-column-gap stop-feature-container">
                <div class="stop-feature-header dense-text">
                    <span>🚏 General 🚏</span>
                </div>
                <div class="stop-feature-content dense-text">
                    <span>☘️ <span class="stop-feature-value">{{ stop.stop_feature.pretty_string("stop_name_ie") }}</span></span>
                </div>
                <div class="stop-feature-content dense-text">
                    <span>⌚ <span class="stop-feature-key">Realtime Display:</span>
                        <span class="stop-feature-value">
                            {% if stop.stop_feature.rtpi_active %}Yes{% else %}No{% endif %}
                        </span>
                    </span>
                </div>
                <div class="stop-feature-content dense-text">
                    <span>⛺ <span class="stop-feature-key">Bus Shelter:</span>
                        <span class="stop-feature-value">
                            {% if stop.stop_feature.shelter_active %}Yes{% else %}No{% endif %}
                        </span>
                    </span>
                </div>
                <div class="stop-feature-content dense-text">
                    <span>🚏 <span class="stop-feature-key">Bus Pole:</span>
                        <span class="stop-feature-value">
                            {% if stop.stop_feature.pole_active %}Yes{% else %}No{% endif %}
                        </span>
                    </span>
                </div>
            </div>
            <div class="flex-column-gap stop-feature-container">
                <div class="stop-feature-header dense-text">
                    <span>♿ Accessibility ♿</span>
                </div>
                <div class="stop-feature-content dense-text">
                    <span>🚏 <span class="stop-feature-key">Wheelchair Accessible:</span>
                        <span class="stop-feature-value">
                            {% if stop.stop_feature.wheelchair_accessability %}Yes{% else %}No{% endif %}
                        </span>
                    </span>
                </div>
                <div class="stop-feature-content dense-text">
                    <span><span class="stop-feature-key">Kassel kerb:</span>
                        <span class="stop-feature-value">
                            {% if stop.stop_feature.castle_kerbing %}Yes{% else %}No{% endif %}
                        </span>
                    </span>
                </div>
                <div class="stop-feature-content dense-text">
                    <span><span class="stop-feature-key">Step up:</span>
                        <span class="stop-feature-value">
                            {% if stop.stop_feature.step_at_stop %}Yes{% else %}No{% endif %}
                        </span>
                    </span>
                </div>
            </div>
            <div class="flex-column-gap stop-feature-container">
                <div class="stop-feature-header dense-text">
                    <span>🚮 Facilities 🚮</span>
                </div>
                <div class="stop-feature-content dense-text">
                    <span>🪑 <span class="stop-feature-key">Bench:</span>
                        <span class="stop-feature-value">
                            {% if stop.stop_feature.bench %}Yes{% else %}No{% endif %}
                        </span>
                    </span>
                </div>
                <div class="stop-feature-content dense-text">
                    <span>🗑 <span class="stop-feature-key">Bin:</span>
                        <span class="stop-feature-value">
                            {% if stop.stop_feature.bin %}Yes{% else %}No{% endif %}
                        </span>
                    </span>
                </div>
                <div class="stop-feature-content dense-text">
                    <span><span class="stop-feature-key">Footpath:</span>
                        <span class="stop-feature-value">
                            {% if stop.stop_feature.footpath_to_stop %}Yes{% else %}No{% endif %}
                        </span>
                    </span>
                </div>
                <div class="stop-feature-content dense-text">
                    <span><span class="stop-feature-key">Number of bays:</span>
                        <span class="stop-feature-value">{{ stop.stop_feature.pretty_string("bays") }}</span></span>
                </div>
            </div>
            <div class="flex-column-gap stop-feature-container">
                <div class="stop-feature-header dense-text">
                    <span>🚲 Bikes 🚲</span>
                </div>
                <div class="stop-feature-content dense-text">
                    <span><span class="stop-feature-key">Bike stand:</span>
                        <span class="stop-feature-value">
                            {% if stop.stop_feature.bike_stand %}Yes{% else %}No{% endif %}
                        </span>
                    </span>
                </div>
                <div class="stop-feature-content dense-text">
                    <span><span class="stop-feature-key">Bike Lane Front:</span>
                        <span class="stop-feature-value">
                            {% if stop.stop_feature.bike_lane_front %}Yes{% else %}No{% endif %}
                        </span>
                    </span>
                </div>
                <div class="stop-feature-content dense-text">
                    <span><span class="stop-feature-key">Bike Lane Rear:</span>
                        <span class="stop-feature-value">
                            {% if stop.stop_feature.bike_lane_rear %}Yes{% else %}No{% endif %}
                        </span>
                    </span>
                </div>
            </div>
            <div class="flex-column-gap stop-feature-container">
                <div class="stop-feature-header dense-text">
                    <span>🕒 Last Surveyed 🕒</span>
                </div>
                <div class="stop-feature-content dense-text">
                    <span><span class="stop-feature-key">Realtime:</span>
                        <span class="stop-feature-value">{{ stop.stop_feature.pretty_string("last_updated_rtpi") }}</span></span>
                </div>
                <div class="stop-feature-content dense-text">
                    <span><span class="stop-feature-key">Shelter:</span>
                        <span class="stop-feature-value">{{ stop.stop_feature.pretty_string("last_updated_shelter") }}</span></span>
                </div>
                <div class="stop-feature-content dense-text">
                    <span><span class="stop-feature-key">Pole:</span>
                        <span class="stop-feature-value">{{ stop.stop_feature.pretty_string("last_updated_pole") }}</span></span>
                </div>
            </div>
        {% else %}
            <p class="dense-text">No information available</p>
        {% endif %}
    </div>
    <div class="flex-gap">
        <a class="no-line-break route-link-button dense-text"
           href="https://data.gov.ie/dataset/70c5967e-4df7-4dc8-82bb-c7e2b0e00888/resource/46702e02-79ac-456b-a3a9-d6cbd3c04abb/download/ptimsglossary.pdf"
           target="_blank"
           rel="noopener noreferrer">Glossary</a>
    </div>
</div>
{% include "widgets/toggle_visibility.html" %}
